/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

/* Styling for collapsible buttons */
button.collapsible {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    text-align: left;
    outline: none;
    width: 100%;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

button.collapsible:hover {
    background-color: #0056b3;
}

button.collapsible.active {
    background-color: #0056b3;
}

.content {
    padding: 10px;
    margin-left: 20px;
    display: none; /* Hidden by default */
    border-left: 2px solid #007BFF;
}

/* Styling the table of contents */
#toc {
    margin-bottom: 20px;
}

#toc a {
    text-decoration: none;
    color: #007BFF;
    margin-bottom: 0.5em;
    display: block;
}

#toc a:hover {
    text-decoration: underline;
}
